{% extends 'main/base.html' %}
{% load static %}

{% block left_panel %}
{% include 'main/left_panel_list.html' %}
{% endblock %}

{% block lef_panel_icon%}
                                <div class="expand-btn-grp @@display-class" xmlns="http://www.w3.org/1999/html">
                                    <button class="bg-solid-primary popup-dashboardright-btn">
                                        <i class="feather-sidebar right"></i>
                                    </button>
                                </div>
{% endblock %}

{% block main_content %}
            <!-- Main content -->
            <div class="rbt-main-content">
                <div class="rbt-daynamic-page-content">
                    <!-- Start Page title  -->
                    <div class="chatenai-separator">
                        <img class="w-100 separator-dark"
                             src="{% static 'assets/images/separator/separator-top.svg' %}" alt="separator">
                        <img class="w-100 separator-light"
                             src="{% static 'assets/images/light/separator/separator-top.svg' %}" alt="separator">
                    </div>
                    <div class="breadcrumb-area breadcarumb-style1 pt--30 pb--30">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="breadcrumb-inner text-center">
                                        <h1 v-if="showMode ==0" class="title theme-gradient h2">Регистрация</h1>
                                        <h1 v-if="showMode ==1" class="title theme-gradient h2">Старт</h1>
                                        <h1 v-if="showMode ==2" class="title theme-gradient h2">Състезание</h1>
                                        <h1 v-if="showMode ==3" class="title theme-gradient h2">Класиране</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Page title  -->
                    <div class="chatenai-separator">
                        <img class="w-100 separator-dark" src="{% static 'assets/images/separator/separator-bottom.svg' %}" alt="separator">
                        <img class="w-100 separator-light" src="{% static 'assets/images/light/separator/separator-bottom.svg' %}" alt="separator">
                    </div>
<!-- ************************************************************************* -->
                    <!-- Dashboard Center Content -->
                    <div class="rbt-dashboard-content">
                        <!-- --------------------- -->
                        <!--      Регистрация      -->
                        <!-- --------------------- -->
                        <div v-if="showMode ==0" class="content-page">
                            <div class="chat-box-list pt--30">
                                <!-- списък на участниците -->
                                <div v-for="(athlete, athlete_idx) in startList">
                                    <div class="chat-box ai-speech bg-flashlight mt--10" style="padding: 10px;"
                                         :id="'athlete'+athlete_idx">
                                        <!-- показвам всички участници -->
                                        <div class="inner top-flashlight leftside light-xl">
                                            <!-- Заглавна част - параметри на въпроса -->
                                            <div class="chat-section generate-section">
                                                <div class="chat-content" style="max-width: 100%;">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-6 col-2">
                                                            <h5 class="title">
                                                                [[ athlete.bib_number ]]
                                                            </h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-10">
                                                            <h6 class="title">
                                                                [[ athlete.name ]]
                                                            </h6>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                                                            [[ athlete.group.name ]] ([[ athlete.group.comment ]])

                                                        </div>
                                                        <!-- copy -->
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-12 d-flex justify-content-end">
                                                            <button class="react-btn btn-default btn-small btn-border"
                                                                    style="font-size: 12px; color: red; border-color: #5c0000d4;"
                                                                    @click="editAthlete(athlete_idx)"
                                                                    data-bs-toggle="modal" data-bs-target="#deleteAthleteModal">
                                                                <i class="feather-user-x"></i><span>&nbsp;Премахни&nbsp;</span>
                                                            </button>
                                                            &nbsp;&nbsp;
                                                            <button class="react-btn btn-default btn-small btn-border"
                                                                    @click="editAthlete(athlete_idx)"
                                                                    data-bs-toggle="modal" data-bs-target="#editAthleteModal"
                                                                    style="font-size: 12px; color: green; border-color: #013401;">
                                                                <i class="feather-edit"></i><span>&nbsp;Данни&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- --------------------- -->
                        <!--         Старт         -->
                        <!-- --------------------- -->
                        <div v-if="showMode ==1" class="content-page">
                            <div class="chatenai-separator">
                                <img class="w-100 separator-dark"
                                     src="{% static 'assets/images/separator/separator-top.svg' %}" alt="separator">
                                <img class="w-100 separator-light"
                                     src="{% static 'assets/images/light/separator/separator-top.svg' %}" alt="separator">
                            </div>
                            <div class="breadcrumb-area breadcarumb-style1 pt--30 pb--30">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="breadcrumb-inner text-center">
                                                <h1 class="title">00:00:00:0</h1>
                                                <button class="react-btn btn-default btn-default btn-border bg-color-danger"
                                                        @click="startRace()">
                                                    <i class="feather-x"></i> <span>&nbspС Т А Р Т </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chatenai-separator">
                                <img class="w-100 separator-dark" src="{% static 'assets/images/separator/separator-bottom.svg' %}" alt="separator">
                                <img class="w-100 separator-light" src="{% static 'assets/images/light/separator/separator-bottom.svg' %}" alt="separator">
                            </div>
                        </div>
                        <!-- --------------------- -->
                        <!--      Състезание       -->
                        <!-- --------------------- -->
                        <div v-if="showMode ==2" class="content-page" style="padding: 0 10px;">
                            <div class="chat-box-list pt--30">
                                <!-- списък на участниците -->
                                <div v-for="(athlete, athlete_idx) in startList">
                                    <div class="chat-box ai-speech bg-flashlight mt--10" style="padding: 10px;"
                                         :id="'r_'+athlete.bib_number"  tabindex="-1">
                                        <!-- показвам всички участници -->
                                        <div class="inner top-flashlight leftside light-xl">
                                            <!-- Заглавна част - параметри на въпроса -->
                                            <div class="chat-section generate-section">
                                                <div class="chat-content" style="max-width: 100%;">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-6 col-2">
                                                            <h5 class="title">
                                                                [[ athlete.bib_number ]]
                                                            </h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-10">
                                                            <h6 class="title">
                                                                [[ athlete.name ]]
                                                            </h6>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                                                            [[ athlete.group.name ]] ([[ athlete.group.comment ]])

                                                        </div>
                                                        <!-- copy -->
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-12 d-flex justify-content-end">
                                                            <!-- Дисквалификация -->
                                                            <button class="react-btn btn-default btn-small btn-border bg-color-danger button-margins"
                                                                    style="font-size: 10px;" v-if="athlete.status == 0"
                                                                    @click="setStatus(athlete_idx, 1)">
                                                                <span>&nbspДисквалификация&nbsp</span>
                                                            </button>
                                                            <button class="react-btn btn-default btn-small btn-border  button-margins"
                                                                    style="color: red; border-color: #5c0000d4; font-size: 10px;"
                                                                    v-if="athlete.status == 1" @click="setStatus(athlete_idx, 0)">
                                                                <span>&nbspДисквалификация&nbsp</span>
                                                            </button>
                                                            <span v-if="(athlete.status == 1)||(athlete.status == 0)">&nbsp;</span>

                                                            <!-- Нагоре -->
                                                            <button class="react-btn btn-default btn-small btn-border"
                                                                    v-if="(athlete.status == 2)&&upEnable(athlete_idx)"
                                                                    @click="swapNums(athlete_idx, athlete_idx-1)">
                                                                <i class="feather-chevrons-up" style="margin-left: -6px;"></i>
                                                            </button>
                                                            &nbsp;

                                                            <!-- Надолу -->
                                                            <button class="react-btn btn-default btn-small btn-border"
                                                                    v-if="(athlete.status == 2)&&downEnable(athlete_idx)"
                                                                    @click="swapNums(athlete_idx, athlete_idx+1)">
                                                                <i class="feather-chevrons-down" style="margin-left: -6px;"></i>
                                                            </button>
                                                            &nbsp;

                                                            <!-- Финиширащ -->
                                                            <button class="react-btn btn-default btn-small btn-border bg-color-warning button-margins"
                                                                    style="font-size: 10px;"
                                                                    v-if="athlete.status == 2"
                                                                    @click="setStatus(athlete_idx, 1)">
                                                                <span>&nbspФиниширащ&nbsp</span>
                                                            </button>
                                                            <button class="react-btn btn-default btn-small btn-border button-margins"
                                                                    style="color: warning; border-color: rgb(235 169 49 / 83%); font-size: 10px;"
                                                                    v-if="athlete.status == 1"
                                                                    @click="setStatus(athlete_idx, 2)">
                                                                <span>&nbspФиниширащ&nbsp</span>
                                                            </button>
                                                            <span v-if="(athlete.status == 1)||(athlete.status == 2)">&nbsp;</span>

                                                            <!-- Финал -->
                                                            <button class="react-btn btn-default btn-small btn-border bg-color-success button-margins"
                                                                    style="font-size: 12px;"
                                                                    v-if="athlete.status == 3"
                                                                    @click="setStatus(athlete_idx, 2)">
                                                                <span>&nbspФинал</span>
                                                            </button>
                                                            <button class="react-btn btn-default btn-small btn-border button-margins"
                                                                    style="color: green; border-color: #013401; font-size: 12px;"
                                                                    v-if="athlete.status == 2"
                                                                    @click="setStatus(athlete_idx, 3)">
                                                                <span>&nbspФинал</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- --------------------- -->
                        <!--      Класиране        -->
                        <!-- --------------------- -->
                        <div v-if="showMode ==3" class="content-page">
                            <div class="chat-box-list pt--30">
                                <!-- списък на участниците -->
                                <div v-for="(athlete, athlete_idx) in startList">
                                    <div class="chat-box ai-speech bg-flashlight mt--10" style="padding: 10px;"
                                         :id="'r_'+athlete.bib_number"  tabindex="-1">
                                        <!-- показвам всички участници -->
                                        <div class="inner top-flashlight leftside light-xl">
                                            <!-- Заглавна част - параметри на въпроса -->
                                            <div class="chat-section generate-section">
                                                <div class="chat-content" style="max-width: 100%;">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-6 col-2">
                                                            <h5 class="title">
                                                                [[ athlete.bib_number ]]
                                                            </h5>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-10">
                                                            <h6 class="title">
                                                                [[ athlete.name ]]
                                                            </h6>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                                                            [[ athlete.group.name ]] ([[ athlete.group.comment ]])

                                                        </div>
                                                        <!-- copy -->
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-12 d-flex justify-content-end">
                                                            <button class="react-btn btn-default btn-small btn-border"
                                                                    style="font-size: 12px; color: red; border-color: #5c0000d4;"
                                                                    @click="editAthlete(athlete_idx)"
                                                                    data-bs-toggle="modal" data-bs-target="#deleteAthleteModal">
                                                                <i class="feather-user-x"></i><span>&nbsp;Премахни&nbsp;</span>
                                                            </button>
                                                            &nbsp;&nbsp;
                                                            <button class="react-btn btn-default btn-small btn-border"
                                                                    @click="editAthlete(athlete_idx)"
                                                                    data-bs-toggle="modal" data-bs-target="#editAthleteModal"
                                                                    style="font-size: 12px; color: green; border-color: #013401;">
                                                                <i class="feather-edit"></i><span>&nbsp;Данни&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!-- ************************************************************************* -->
                        <!-- Долна лента с бутони  -->
                        <div class="rbt-static-bar collapse-width">
                            <!-- --------------------- -->
                            <!--      Регистрация      -->
                            <!-- --------------------- -->
                            <ul v-if="showMode ==0" class="staticbar-btn-grp d-md-flex">
                                <li>
                                    <button class="react-btn btn-default btn-small btn-border"
                                            style="color: green; border-color: #013401;"
                                            data-bs-toggle="modal" data-bs-target="#editAthleteModal"
                                            @click="newAthlete()">
                                        <i class="feather-check"></i><span>&nbspДобави нов участник</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="react-btn btn-default btn-small btn-border"
                                            style="color: red; border-color: #5c0000d4;" @click="closeRegistration()">
                                        <i class="feather-x"></i><span>&nbspКрай на регистрацията</span>
                                    </button>
                                </li>
                            </ul>
                            <!-- --------------------- -->
                            <!--      Състезание       -->
                            <!-- --------------------- -->
                            <ul v-if="showMode ==2" class="staticbar-btn-grp d-md-flex">
                                <li>
                                    <button class="react-btn btn-default btn-small btn-border"
                                            style="color: red; border-color: #5c0000d4;"
                                            data-bs-toggle="modal" data-bs-target="#stopCompetitionModal">
                                        <i class="feather-x"></i><span>&nbspКрай на състезанието</span>
                                    </button>
                                </li>
                            </ul>
                            <!-- Превключвател свтла/тъмнa тема  -->
                            <div id="my_switcher" class="my_switcher">
                                <ul>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                            <img src="{% static 'assets/images/light/switch/sun-01.svg' %}" alt="Sun images"><span title="Light Mode"> Light</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                            <img src="{% static 'assets/images/light/switch/vector.svg' %}" alt="Vector Images"><span title="Dark Mode">
                                        Dark</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
<!-- ************************************************************************* -->
                    <!-- Dashboard Right Content -->
                    <!-- --------------------- -->
                    <!--      Регистрация      -->
                    <!-- --------------------- -->
                    <div  v-if="showMode ==0" class="rbt-right-side-panel popup-dashboardright-section">
                        <div class="right-side-top">
                            <h6 class="title">Регистрирани участници:</h6>
                            <p>общо [[ startList.length ]]</p>
                        </div>
                        <div class="right-side-bottom mb--200">
                            <h6 class="title">По категории:</h6>
                            <div class="chat-history-section"
                                 v-for="(group, idx) in groupsList">
                                <h6 class="title">[[group.name]]</h6>
                                <p>Регистрирани участници: [[ countAthletesInGroup(group.id) ]]</p>
                            </div>
                        </div>
                    </div>
                    <!-- --------------------- -->
                    <!--      Състезание       -->
                    <!-- --------------------- -->
                    <div v-if="showMode ==2" class="rbt-right-side-panel popup-dashboardright-section">
                        <div class="right-side-top">
                            <h2 class="title">[[formatTimer(timerValue)]]</h2>
                        </div>
                        <div class="right-side-bottom mb--200">
                            <div class="chat-history-section">
                                <h6 class="title">Търсене:</h6>
                                <ul class="chat-history-list">
                                    <li class="history-box active">
                                        <label for="searchBibNumber">Стартов номер: </label>
                                        <input type="text" class="form-control"
                                               id="searchBibNumber" maxlength="20" size="20"
                                               v-model="lookupNumber" @input="focusDivById('r_'+lookupNumber)">
                                    </li>
                                </ul>
                                <div class="rbt-sm-separator"></div>
                                <h6 class="title">Покажи:</h6>
                                <ul class="chat-history-list">
                                    <li class="history-box active">
                                        <input class="custom-control-input" id="filterShowAll" type="checkbox"
                                               :checked="filter.waitingToFinish && filter.disqualified && filter.finished"
                                               @click="checkAllFilters()">
                                        <label class="custom-control-label d-flex align-items-center"
                                               for="filterShowAll"> всички </label>
                                    </li>
                                    <li class="rbt-sm-separator"></li>
                                    <li class="history-box active">
                                        <input class="custom-control-input" id="filterWaitingToFinish" type="checkbox"
                                               v-model="filter.waitingToFinish">
                                        <label class="custom-control-label d-flex align-items-center"
                                               for="filterWaitingToFinish" >наближаващи финала</label>
                                    </li>
                                    <li class="history-box active">
                                        <input class="custom-control-input" id="filterDisqualified" type="checkbox"
                                               v-model="filter.disqualified">
                                        <label class="custom-control-label d-flex align-items-center"
                                               for="filterDisqualified">дисквалифицирани</label>
                                    </li>
                                    <li class="history-box active">
                                        <input class="custom-control-input" id="filterFinished" type="checkbox"
                                               v-model="filter.finished">
                                        <label class="custom-control-label d-flex align-items-center"
                                               for="filterFinished">финиширали</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- --------------------- -->
                    <!--      Класиране        -->
                    <!-- --------------------- -->
                    <div  v-if="showMode ==3" class="rbt-right-side-panel popup-dashboardright-section">
                        <div class="right-side-top">
                            <h6 class="title">Регистрирани участници:</h6>
                            <p>общо [[ startList.length ]]</p>
                        </div>
                        <div class="right-side-bottom mb--200">
                            <h6 class="title">По категории:</h6>
                            <div class="chat-history-section"
                                 v-for="(group, idx) in groupsList">
                                <h6 class="title">[[group.name]]</h6>
                                <p>Регистрирани участници: [[ countAthletesInGroup(group.id) ]]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block modals %}
        <!-- Данни за състезател -->
        <div id="editAthleteModal" class="modal rbt-modal-box like-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper top-flashlight leftside light-xl">
                    <h5 class="title" v-if="c_athlete.id==0">Нов участник</h5>
                    <h5 class="title" v-else>Редактиране на данни за участник</h5>
                    <!-- Име и фамилия -->
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                            <button type="button" class="react-btn btn-default btn-small btn-border dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false" >
                                Група/категория: [[c_athlete.group.name]] ([[c_athlete.group.comment]]) <i class="feather-more-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li v-for="(group, group_idx) in groupsList">
                                    <a class="dropdown-item color-level-1" @click="changeGroup(group_idx)">[[group.name]] ([[group.comment]])</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-4">
                            <label for="editBibNumber">Стартов номер: </label>
                            <input type="text" class="form-control"
                                   id="editBibNumber" maxlength="20" size="20" v-model="c_athlete.bib_number">
                        </div>
                        <div class="form-group col-lg-8 col-md-8 col-sm-12 col-8">
                            <label for="editAthleteName">Име и фамилия: </label>
                            <input type="text" class="form-control"
                                   id="editAthleteName" maxlength="80" size="20" v-model="c_athlete.name">
                        </div>
                    </div>

                    <!-- бутон горе ляво - затваряне на прозореца -->
                    <button class="close-button" data-bs-dismiss="modal">
                       <i class="feather-x"></i>
                   </button>
                    <!-- footer - бутони за отказ/запис -->
                    <div class="row mt--20">
                       <div class="col-lg-2 col-md-2">
                       </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-12" style="text-align: right;">
                            <div class="btn-grp">
                                <button class="react-btn btn-default btn-small btn-border bg-color-danger"
                                       data-bs-dismiss="modal">
                                   <i class="feather-x"></i><span>&nbsp;Откажи</span>
                                </button>
                                &nbsp
                                <button class="react-btn btn-default btn-small btn-border bg-color-success"
                                       data-bs-dismiss="modal" @click="saveAthlete()">
                                   <i class="feather-check"></i><span>&nbsp;Запази</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Диалог за изтриване на състезател -->
        <div id="deleteAthleteModal" class="modal rbt-modal-box like-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper top-flashlight leftside light-xl">
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="feather-x"></i>
                    </button>
                    <h5 class="title a">ВНИМАНИЕ!</h5>
                    <p style="display: flex; align-items: center;">Участник [[ c_athlete.name ]] и ВСИЧКИ свъразани с него данни ще бъдат премахнати от
                        базата данни. Моля, потвърдете!</p>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12"  style="text-align: right;">
                            <button class="react-btn btn-default btn-small btn-border bg-color-success"
                                   data-bs-dismiss="modal">
                               <i class="feather-x"></i><span>&nbsp;Откажи</span>
                            </button>
                            &nbsp
                            <button class="react-btn btn-default btn-small btn-border bg-color-danger"
                                    data-bs-dismiss="modal"
                                    @click="deleteAthlete()">
                               <i class="feather-check"></i><span>&nbsp;Изтрий</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Диалог за прекратяване на състезанието -->
        <div id="stopCompetitionModal" class="modal rbt-modal-box like-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper top-flashlight leftside light-xl">
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="feather-x"></i>
                    </button>
                    <h5 class="title a">ВНИМАНИЕ!</h5>
                    <p style="display: flex; align-items: center;">Всички незавршили състезатели ще бъдат дисквалифицирани.
                        Моля, потвърдете прекратяване на състезанието!</p>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12"  style="text-align: right;">
                            <button class="react-btn btn-default btn-small btn-border bg-color-success"
                                   data-bs-dismiss="modal">
                               <i class="feather-x"></i><span>&nbsp;Откажи</span>
                            </button>
                            &nbsp
                            <button class="react-btn btn-default btn-small btn-border bg-color-danger"
                                    data-bs-dismiss="modal"
                                    @click="closeCompetition()">
                               <i class="feather-check"></i><span>&nbsp;Потвърди</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block page_script %}
    <script src="{% static 'assets/js/race.js' %}"></script>
{% endblock %}
